.auth-form{
    margin-top: 25px;
    max-width: 500px;
    padding: 0px 20px;

    width: calc(100vw - 40px);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.button{
    @include button();
}
.input{
    @include input2();
    margin-top: 15px;
}
.landing{
    @include flexCenter(column);
}
.landing-intro{
    margin-top: 200px;
    font-size: 26px;
    color: white;
    width: calc(100vw - 50px);
}
.landing-link{
    margin-top: 30px;
    color: white;
}
.logo{
    @include mpat(15px, 0);

    position: fixed;
    top: 0;
    left: 5px;

    font-size: 33px;
    font-weight: bold;
    color: white;
}
.logo-budget{
    color: $orange;
}
#landing-names{
    width: 100%;
    @include flexCenter(row);
        justify-content: space-between;
}
#landing-name{
    width: 232px;
}