$orange: #ff9801;
$gray: #757575;
$light: #ccc;

@mixin flexCenter ($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin dim($height, $width){
    height: $height;
    width: $width;
}

@mixin mp($margin, $padding){
    margin: $margin;
    padding: $padding;
    @include box();
}

@mixin box(){
    box-sizing: border-box;
}

@mixin input(){
    margin-top: 15px;
    padding-left: 10px;
    border-radius: 7px;
    border: none;

    height: 30px;

    font-size: 15px;
}

@mixin input2(){
    padding-left: 10px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid $light;
    background: none;

    font-size: 20px;
    font-weight: bold;
    color: white;
    @include placeholder-color($light);
}

@mixin button(){
    margin-top: 40px;
    border: none;
    border-radius: 10px;

    height: 45px;
    background: $orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
    }
  }