/* @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); */

/* .App {
    height: 100vh;
    background: #757575;
    text-align: center;
    display: flex;
    flex-direction: column;

    font-family: raleway;
}
a {text-decoration: none;} */

/* ===== ===== TEMP ===== ===== */
/* #temp-button{
    color: white;
    font-size: 50px;
} */

/* ===== ===== CLASSES ===== ===== */
/* .auth-button{
    margin-top: 40px;
    height: 50px;
    width: 300px;
    width: 100%;
    background: #ff9801;
    border: none;
    border-radius: 10px;

    color: white;
    font-weight: bold;
    font-size: 20px;
} */
/* .auth-inputs{
    margin-top: 25px;
    max-width: 500px;
    width: calc(100vw - 40px);
    padding: 0px 20px;
    height: 200px;
    background: #3a3a3a;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
/* .auth-input{
    border-radius: 7px;
    margin-top: 15px;
    padding-left: 10px;
    
    height: 30px;

    font-size: 15px;
} */
/* 
.auth-secondary{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
} */
/* .auth-secondary-text{
    margin-bottom: 40px;

    font-family: 'source sans pro';
    font-size: 33px;
    color: white;
    width: calc(100vw - 40px);
} */
/* .temp{
    height: 40px;
    width: 80px;
    background: #ff9801;
    border-radius: 10px;
    font-size: 20px;
} */
/* .form-title{
    color: #ccc;
    text-align: center;
    margin-top: 20px;
} */
/* .form-input{
    margin: 3px 0px 5px 0px;
    padding-left: 10px;

    height: 30px;
    border-radius: 7px;
    border: 1px solid #ccc;
    background: none;

    font-size: 20px;
    font-weight: bold;
    color: white;
} */
/* .form-main{
    width: calc(100vw - 20px);
    max-width: 500px;
    
    margin: 0px auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    text-align: left;
} */
/* #form-percent{
    margin: 10px auto;
    margin-bottom: 0;
    font-weight: bold;
    color: #ccc;
    overflow: hidden;
    height: 30px;

    animation-name: percent;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;

}
    @keyframes percent {
        from {
            height: 0px;
        } to {
            height: 30px;
        }
    } */
/* #percent{
    color: white;
    font-size: 30px;
    margin: 0px 15px;
    vertical-align: middle;
} */
/* ===== ===== LANDING ===== ===== */
/* #landing-main{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* #landing-header{
    height: 60px;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 40px;
    position: fixed;
    top: 0;

    font-family: 'source sans pro';
    font-size: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
/* #landing-login{
    height: 40px;
    width: 85px;
    background: #ff9801;
    border-radius: 10px;
    border: none;

    font-size: 15px;
} */
/* #landing-intro{
    margin-top: 100px;
    font-size: 27px;
    color: white;
    width: calc(100vw - 30px);
} */
/* #landing-pic{
    margin-top: 30px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 350px;
    width: calc(100vw - 40px);
    max-width: 350px;
    border: 2px solid #ff9801;
    border-radius: 10px;

    color: #ff9801;
    font-size: 40px;
} */
/* #landing-supple{
    color: white;
    font-weight: bold;
    font-family: raleway;
}
#landing-budget{
    font-weight: bold;
    font-family: raleway;
    color: #ff9801;
} */
/* #landing-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
} */

/* ===== ===== HEADER ===== ===== */
/* .header-main{
    height: 60px;
    background: #ff9801;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
} */
/* .header-extra{
    position: fixed;
    top: 60px;
    left: 0px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 100vw;
    border-top: 2px solid white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    background: #ff9900;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgb(75, 75, 75);

    animation-name: extra;
    animation-duration: 200ms;
    animation-timing-function: linear;
} */
    /* @keyframes extra {
        from {
            height: 0px;
        } to {
            height: 127px;
        }
    } */

/* .hamburger-button{
    margin: 0 auto;
    padding: 8px 0px;
    width: calc(100% - 30px);
    font-size: 20px;
    border: none;
    border-bottom: 2px solid white;
    background: none;
    color: white;
    font-weight: bold;
    text-align: left;
} */
/* .ham-butt-add{
    margin: 0 auto;
    padding: 8px 0px;
    width: calc(100% - 30px);
    font-size: 20px;
    border: none;
    border-bottom: 2px solid white;
    background: none;
    color: white;
    font-weight: bold;
    text-align: right
} */
/* #hamburger-end{
    border-bottom: none;
    margin-bottom: 10px;
} */
/* #white-space{
    position: fixed;
    top: 195px;
    left: 0px;
    height: calc(100vh - 195px);
    width: 100vw;
    box-sizing: border-box;
} */
/* .icon{
    background-size: cover;
    height: 30px;
    width: 30px;
} */
/* #hamburger{
    background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Hamburger_Menu.png");
}
#back{
    background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/Back_Arrow.png');
}
#add{
    background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/Icon_Add.png');
} */
/* .header-heading{
    position: fixed;
    top: 20px;
    right: 50%;
    transform: translateX(+50%);

    font-size: 30px;
    color: white;
    font-weight: 800;
} */
/* #header-plus{
    font-size: 50px;
    position: fixed;
    top: 10px;
    right: 20px;
} */

/* ===== ===== ===== REGISTER ===== ===== ===== */
/* #register-login{
    margin-top: 30px;

    font-size: 20px;
    color: white;
} */

/* ===== ===== ===== BUDGET ===== ===== ===== */
/* .budget-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/* #history-main{
    margin-top: 20px;
} */
/* .budget-totals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0px auto;
    
    padding: 20px 10px;
    width: 400px;
} */
/* .budget-cat-total{
    height: 70px;
    width: 100px;

    margin: 0px 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;

    color: #ccc;
    font-size: 20px;
    font-weight: bold;
} */
/* .line{
    margin: 8px 0px;
    width: 100%;
    border: 1px solid #ccc;
} */
/* .circle{
    height: 120px;
    border: 4px solid white;
    width: 120px;
    border-radius: 70px;
    background: #ff9801;

    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .budget-header{
    display: flex;
    justify-content: center;

    padding: 12px 0px;
    box-sizing: border-box;

    background: #ff9801;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100vw;
    max-width: 500px;
    border: 2px solid red;
} */
/* .budget-white{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;

    background: white;
    font-size: 15px;
    font-weight: bold;
    color: #757575;
    max-width: 500px;
    width: 100vw;
} */
/* #budget-list{
    margin: 0 auto;
    width: 100vw;
    max-width: 500px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    max-height: calc(100vh - 350px);
    overflow: scroll;
} */
/* ===== ===== ===== CATEGORY ===== ===== ===== */
/* .cat-main{
    margin: 0 auto;
    padding: 10px 0px;
    box-sizing: border-box;

    width: calc(100vw - 20px);
    max-width: 460px;
    border-bottom: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    
    text-decoration: none;
} */
/* .cat-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
} */
/* .cat-gray{
    width: 80px;

    color: #ccc;
    font-size: 20px;
} */
/* .cat-name{
    width: 220px;
    overflow: scroll;

    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    overflow: visible;
} */
/* .cat-name-2{
    width: 220px;
    overflow: scroll;

    color: rgb(255, 191, 191);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    overflow: visible;
}
.cat-balance{
    width: 80px;
    font-size: 20px;
    text-align: right;
    color: white;
} */
/* #trans-income{
    color: rgb(153, 255, 158);
}
#trans-outgo{
    color: rgb(255, 185, 185);
} */

/* ===== ===== ===== CREATE CATEGORY ===== ===== ===== */
/* .form-type-button{
    height: 35px;
    width: 50%;
    background: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    margin-top: 4px;

    color: #ccc;
    font-size: 20px;
} */
/* #clicked-button{
    background: #ff9801;
    font-weight: bold;
    color: white;
    border: 2px solid white;
} */
/* .form-add-button{
    margin: 8px auto;

    height: 35px;
    width: calc(100vw - 20px);
    max-width: 500px;
    background: #ff9801;
    border: none;
    border-radius: 5px;

    color: white;
    font-size: 20px;
} */
/* #cc-keyboard{
    height: 270px;
    width: 100vw;
    background-image: url('https://i.stack.imgur.com/sxJEn.png');
    background-size: cover;

    position: fixed;
    bottom: 0px;
    left: 0px;
} */
/* ===== ===== ===== CREATE TRANSACTION ===== ===== ===== */
/* #ct-form-dropdown{
    margin: 3px 0px 25px 0px;
    padding: 0px 10px;

    border-radius: 7px;
    border: 1px solid #ccc;
    background: none;

    font-size: 20px;
    font-weight: bold;
    color: white;
} */
/* #ct-dropdown{
    display: flex;
    flex-direction: column;
    font-weight: normal;
    color: #ccc;
    max-height: 200px;
    overflow: scroll;
} */
/* #ct-dropdown-category{
    margin: 0 auto;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    color: white;
} */
/* #ct-chosen-cat{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
} */